<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- OGP -->
    <meta property="og:title" content="<%= productName %>" />
    <meta
      property="og:description"
      content="<%= productDescription %>">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yama-code.web.app" />
    <meta
      property="og:image"
      content="https://yama-code.web.app/yama-icon.jpg"
    />
    <link rel="icon" type="image/jpg" sizes="128x128" src="yama-icon.jpg">
    <link rel="icon" type="image/jpg" sizes="96x96" src="yama-icon.jpg">
    <link rel="icon" type="image/jpg" sizes="32x32" src="yama-icon.jpg">
    <link rel="icon" type="image/jpg" sizes="16x16" src="yama-icon.jpg">
    <link rel="icon" type="image/ico" href="yama-icon.jpg">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
